
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 22.917% */
}

body {
  background: no-repeat;
  background-size: cover;
  background-image:url('imgs/backgrounds/bluesky.jpg');
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 2s;
}
